.listChat {
  --primary-color-900: hsl( 225 calc( 1 *6.3%) 11.5% /1);
  --primary-color-500: hsl( 220 calc( 1 *6.5%) 17.9% /1);
  --secondary-color-900: hsl( 220 calc( 1 *6.5%) 23% /1);
  --secondary-color-500: hsl( 220 calc( 1 *6.5%) 28% /1);
  /* --search-bar-color: ; */
  color: whitesmoke;
  height: 100%;
  /* height: 100%; */

  --font-size-800: 25px;
  --font-size-700: 18px;
  --font-size-600: 12px;

  --font-color-500: hsl( 220 calc( 1 *6.5%) 52% /1);
  --font-color-300: hsl( 220 calc( 1 *6.5%) 66% /1);

}
nav.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-width: 100px;
  /* width: 310px; */
  
  padding: 16px 12px 0;
  background-color: var(--primary-color-500);
}

nav.container.status {
  width: 360px;
}

h1 {
    font-size: var(--font-size-800);
    letter-spacing: 1px;
    margin-bottom: 18px;
}

h2 {
    font-size: var(--font-size-700);
    /* letter-spacing: 1px; */
    margin-bottom: 1px;
    font-weight: 400;
}

.search {
    position: relative;
    width: 100%;
}

.search input {
  color: whitesmoke;
  letter-spacing: 0.7px;
  font-style: inherit;
  font-weight: 500;
  
  font-size: 1rem;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--primary-color-900);
  outline: none;
  border: none;
  border-radius: 4px;
}

.search label {
  position: absolute;
  right: 4px;
  top: 2.7px;
  padding: 4px 6px 0;
  border-radius: 4px;
}

.search label svg {
    width: 17px;
    height: 17px;
}

.search label:is(:hover, :focus) {
  background-color: #333;
}


/* CHAT */
.chats {
  margin-top: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* .chat {
  height: auto;
} */

.chats > .profile__container label {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  height: 70px;
  width: 100%;
  padding: 10px;

  background: transparent;
  inline-size: none;

  border-radius: 6px;
  border-bottom: 0.1px solid var(--secondary-color);
}

.chats > .profile__container  input:checked + label {
  background-color: var(--secondary-color-500);
}


.chats > .profile__container label:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--secondary-color-900);
  transition: 0.2s;
}

.profile__container label img {
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  width: 48px;
  height: 48px;
}

.profile__container label > .info p {
  display: flex;
  color: var(--font-color-500);
  font-size: var(--font-size-600);
}

.info .chat-info {
  display: flex;
  gap: 5px;
}

.info .chat-info .name {
  color: var(--font-color-300);
}

.info .chat-info p.latestMessage {
  width: 140px;

  /* this is for 3 dots if the text remains after fixed width */
  display: inline;     
  white-space: nowrap; 
  overflow: hidden;          
  text-overflow: ellipsis;
}


/* ================= Scrollbar CSS =============== */

.chats::-webkit-scrollbar {
  width: 0.4em;
}


.chats::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: 0.5em;
}

.chats:is(:hover, :focus)::-webkit-scrollbar-thumb {
  transition: 0.5s;
  background-color: var(--primary-color-900);
  border-radius: 100vw;
}

